<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">

<head>
   <title>title>AP2 - CRUD com Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <div class="jumbotron header text-center">
        <h1>LISTA - CLIENTES</h1>
            <br>
        <a href="/formcliente" class="btn btn-success">Adicionar Clientes</a>

    </div>

</head>

<body>


    <div class="col-8 m-auto pt-3 pb-2 text-center">
                <a href="/" class="btn btn-success">Lista Motos</a>
                <a href="/pagvenda" class="btn btn-success">Vender</a>
                <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <form method="get">
            <input type="text" id="searchcliente" name="searchcliente" class="form-control" placeholder="Buscar...">
        </form>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Cidade</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
            <tbody>
          {% for dbs in db %}
           <tr>
              <th>{{dbs.id}}</th>
              <td>{{dbs.nome}}</td>
              <td>{{dbs.cidade}}</td>
                <td>
                  <a href="/viewcliente/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                  <a href="/editcliente/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                  <a href="/deletecliente/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
              </td>
           </tr>

          {% endfor %}

          </tbody>
        </table>

    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>

<footer>
    <div class="jumbotron footer text-center"

   <p>CRUD - PYTHON - DJANGO</p>
    <p>Desenvolvido por André de Abreu Gonçalves</p>
    <p>TRABALHO DE PROGRAMAÇÃO EM SISTEMAS DE INFORMAÇÃO(AP2) 2022/1</p>
</div>
</footer>

</html>